[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=ansible
Comment=
Exec=/home/{{useraccount_name}}/.config/xfce-perrys-ansible-apply.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
