# Default package sources for {{sourcesflavor}}

{% for source in sources %}
Types: {{source.types|join(' ')
URIs: {{source.url}}
Suites: {{source.suites|join(' ')
Components: {{source.components|join(' ')
Signed-By: {{source.signedby}}

{% endfor %}
