#!/bin/bash

set -u
set -e

export PYTHONUNBUFFERED=1

extraargs=()

if [ "${PERRY_ANSIBLE_SERVICE:-0}" == "1" ]; then
    extraargs+=( -e "{ \"use_handlers\": \"false\", \"use_reboot\": \"true\" }" )
fi

if [ "${PERRY_ANSIBLE_DESKTOP:-0}" == "1" ]; then
    extraargs+=( -e "{ \"use_logout\": \"true\" }" )
fi

ansible-pull \
    -U https://${IAC_REPO_TOKEN:-}${IAC_REPO_TOKEN:+@}${IAC_REPO_URL} \
    -C ${IAC_REPO_BRANCH} \
    -l "$(uname -n)" \
    "${extraargs[@]}"
