[Unit]
Description=Perrys Ansible Apply
Requires=network-online.target
After=network-online.target
Before=lightdm.service getty@tty1.service

[Service]
Type=oneshot
Restart=no
User=root
Group=root
StandardOutput=journal+console
StandardError=journal+console
ExecStart=/usr/local/sbin/perrys-ansible-apply.sh
Environment="HOME=/root"
Environment="PERRY_NO_HANDLERS=1"

[Install]
#WantedBy=network-online.target
WantedBy=multi-user.target
